{
  "semi": true,
  "useTabs": false,
  "tabWidth": 2,
  "printWidth": 100,
  "singleQuote": false,
  "trailingComma": "es5",
  "jsxSingleQuote": false,
  "bracketSpacing": true,
  "bracketSameLine": false,
  "endOfLine": "lf",
  "arrowParens": "always",
  "quoteProps": "as-needed",
  "requirePragma": false,
  "rangeStart": 0,
  "rangeEnd": 999999999,
  "parser": "",
  "filepath": "",
  "insertPragma": false,
  "proseWrap": "preserve",
  "htmlWhitespaceSensitivity": "css",
  "vueIndentScriptAndStyle": false,
  "embeddedLanguageFormatting": "auto",
  "singleAttributePerLine": false
}
