.case-image-section-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.case-image-column {
  width: 430px;
  height: 560px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 1em;
  margin: 1em;
  outline: solid var(--primary-color) 5px;
  border-radius: 0.2em;
  box-shadow: 0px 0px 10px grey;
}

.case-image-background-text {
  text-align: justify;
}

.case-image-image-wrapper {
  width: 400px;
  height: auto;
}

.case-image-alternative-section {
  margin: 0 0.3em 0 0.3em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.case-image-explanation-background-image {
  height: 12em;
  width: 12em;
}

.case-image-text-with-icons {
  margin-top: 0.8em;
}

.case-image-modal {
  display: flex;
  justify-content: center;
  align-items: center;
}

.case-image-generic-image-section {
  display: flex;
  justify-content: center;
  height: 50%;
}

.case-image-scaled-image-fit-height {
  width: auto;
  height: 100%;
}

.case-image-column-middle-generic-section {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
}

.case-image-generic-section-button {
  margin-top: 0.8em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
