.welcome {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.header-top {
    margin-top: -2.5em;
    margin-bottom: 2em;
}
.btn {
    text-align: center;
}