.summary-and-feedback-wrapper {
    display: flex;
    width: 100%;
    height: 100%;
    padding: 0.8em;
}

.summary-and-feedback-text-content {
    text-align: justify;
    padding: 0 0.5em 0 0.5em;
}

.feedback-form-wrapper {
    padding-left: 1em;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 100%;
    width: 50%;
  
    overflow-y: auto;
    padding-right: 0.5em;
}

.feedback-form-wrapper::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 0.4em;
    background-color: #f5f5f5;
}
  
.feedback-form-wrapper::-webkit-scrollbar {
    width: 0.3em;
    background-color: #f5f5f5;
}
  
.feedback-form-wrapper::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #9c9393;
}

.feedback-form {
    padding-top: 0;
    margin-left: 0.6em;
    display: flex;
    flex-direction: column;
    width: 95%;
}

.feedback-text-input {
    margin-top: 1em;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}

.summary-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 100%;
    width: 52%;
    overflow-y: auto;
}

.summary-cases-wrapper {
    display: flex;
    width: 100%;
    justify-content: space-around;
    margin-top: 0.22em;
}

.summary-case-header {
    font-weight: 700;
    width: 6em;
    margin: 0 2em 0 2em;
}

.summary-case-answer {
    margin-top: 0.5em;
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.summary-case-label {
    font-weight: 700;
    font-size: 1.2em;
    text-align: center;
    width: 4em;
}

.summary-ranked-image-wrapper-summary {
    height: auto;
    display: flex;
    justify-content: center;
}

.summary-scaled-image-fit-height-summary {
    width: 9em;
    height: auto;
}
